<footer data-bsi-element="footer" class="footer_section">
    <div class="footer_top">
        <div class="footer_mainLinks">
            <a id="648510fc-5f83-11ed-9b6a-0242ac120002"
                href="[About_us]"
                data-bsi-element-part="link">
                About us
            </a>
            <a id="64850f4e-5f83-11ed-9b6a-0242ac120002"
                href="[Contact]"
                data-bsi-element-part="link">
                Contact
            </a>
            <a id="64850d3c-5f83-11ed-9b6a-0242ac120002"
                href="[Legal]"
                data-bsi-element-part="link">
                Legal
            </a>
        </div>
        <div class="footer_socials">
            <a id="64850aee-5f83-11ed-9b6a-0242ac120002"
                data-bsi-element-part="link"
                href="[facebook]"
                data-bsi-link-fixed-inner-html="">
                <img src="{{ bsi_cx_asset('./icons/facebook.svg') }}" />
            </a>
            <a id="6485094a-5f83-11ed-9b6a-0242ac120002"
                data-bsi-element-part="link"
                href="[twitter]"
                data-bsi-link-fixed-inner-html="">
                <img src="{{ bsi_cx_asset('./icons/twitter.svg') }}" />
            </a>
            <a id="64850788-5f83-11ed-9b6a-0242ac120002"
                data-bsi-element-part="link"
                href="[youtube]"
                data-bsi-link-fixed-inner-html="">
                <img src="{{ bsi_cx_asset('./icons/youtube.svg') }}" />
            </a>
            <a id="64850378-5f83-11ed-9b6a-0242ac120002"
                data-bsi-element-part="link"
                href="[linkedin]"
                data-bsi-link-fixed-inner-html="">
                <img src="{{ bsi_cx_asset('./icons/linkedin.svg') }}" />
            </a>
            <a id="648501fc-5f83-11ed-9b6a-0242ac120002"
                data-bsi-element-part="link"
                href="[instagram]"
                data-bsi-link-fixed-inner-html="">
                <img src="{{ bsi_cx_asset('./icons/instagram.svg') }}" />
            </a>
        </div>
    </div>
    <div class="footer_middle">
        <div class="footer_tabletRow">
            <a id="6485003a-5f83-11ed-9b6a-0242ac120002"
                href="[Data_Privacy]"
                data-bsi-element-part="link">
                Data Privacy Policy
            </a>
            <a id="6484fcfc-5f83-11ed-9b6a-0242ac120002"
                href="[Terms_of_use]"
                data-bsi-element-part="link">
                Terms of use
            </a>
            <a id="a9194160-5f84-11ed-9b6a-0242ac120002"
                href="[News_Alert]"
                data-bsi-element-part="link">
                News Alert
            </a>
        </div>
        <div class="footer_tabletText">
            <p id="a9193fda-5f84-11ed-9b6a-0242ac120002"
                data-bsi-element-part="plain-text">
                © 2022 JULIUS BAER
            </p>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="footer_disclaimer">
            <div class="footer_plainText"
                data-bsi-element-part="formatted-text"
                id="a9193e2c-5f84-11ed-9b6a-0242ac120002">
                I have read and agree to the
                <a href="[Terms_of_use]" class="footer_bottomLink">
                    Terms of Use
                </a>
                and
                <a href="[Data_Privacy]" class="footer_bottomLink">
                    Data Privacy Policy
                </a>
            </div>
        </div>
        <div class="footer_backToTop">
            <a id="a9193ad0-5f84-11ed-9b6a-0242ac120002"
                data-bsi-element-part="link"
                href="#top">
                Back to top
            </a>
            <svg width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M12 5L12 19"
                    stroke="white"
                    strokeLinecap="round"
                    strokeLinejoin="round" />
                <path d="M17 10L12 5"
                    stroke="white"
                    strokeLinecap="round"
                    strokeLinejoin="round" />
                <path d="M7 10L12 5"
                    stroke="white"
                    strokeLinecap="round"
                    strokeLinejoin="round" />
            </svg>
        </div>
    </div>
</footer>
